#mainList {
  width: 850px;
  height: 900px;
}
#title {
  user-select: none;
  width: 800px;
  height: 50px;
  font-weight: 700;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
}
.clearblock {
  width: 800px;
  height: 40px;
  user-select: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
#clear {
  color: #001aff;
  width: 80px;
  height: 31px;
  border-style: solid;
  user-select: none;
  border-color: #001aff;
  border-width: 1.2px 1.2px 1.2px 1.2px;
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
  border-radius: 5px;
}
#txtarea {
  padding-left: 10px;
}
textarea {
  width: 731px;
  height: 100px;
  padding: 6px;
  outline: none;
  border-radius: 5px;
  border-style: solid;
  border-color: #001aff;
  border-width: 1.2px 1.2px 1.2px 1.2px;
}
#addAny {
  padding: 10px;
  display: flex;
}
.edit {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.dele {
  width: 20px;
  height: 20px;
  padding-left: 5px;
  cursor: pointer;
}
#add {
  color: #001aff;
  width: 80px;
  border-style: solid;
  border-color: #001aff;
  border-width: 1.2px 1.2px 1.2px 0;
  align-items: center;
  display: flex;
  user-select: none;
  cursor: pointer;
  justify-content: center;
}
.addborder {
  border-radius: 0 5px 5px 0;
}
.delborder {
  border-radius: 0;
}
.cancel {
  color: #001aff;
  width: 60px;
  border-style: solid;
  border-color: #001aff;
  border-width: 1.2px 1.2px 1.2px 0;
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}
input {
  border-radius: 5px 0 0 0;
  border: 1.4px solid #001aff;
  height: 27px;
  width: 730px;
  padding-left: 8px;
  font-size: 15px;
  outline: none;
}
.tasktxt {
  word-wrap: break-word;
  padding-left: 10px;
  font-family: cursive;
  font-size: 15px;
  width: 700px;

}
#List {
  width: 850px;
}
.hlp {
  width: 50px;
  height: 35px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  user-select: none;
}
.item {
  width: 800px;
  padding: 10px 4px 4px 18px;
  display: flex;
  align-items: center;
}
.textitem {
  width: 770px;
  height: 35px;
  font-family: cursive;
  text-align: left;
  user-select: none;
}
#List::-webkit-scrollbar {
  width: 13px;
}
#List::-webkit-scrollbar-track {
  border-radius: 8px;
  background: rgb(209, 209, 209);
}
#List::-webkit-scrollbar-thumb {
  background: rgb(163, 163, 163);
  border-radius: 8px;
  border: 2.7px solid rgb(209, 209, 209);
}
#List::-webkit-scrollbar-thumb:hover {
  background: #001aff;
}
.displayoffclr {
  display: none;
}
.listonscroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 600px;
}
